:root {
    --primary: #003366;
    --secondary: #00c3ff;
    --accent: #d4af37;
    --bg-light: #f4f7fa;
    --text-dark: #1e293b;
    --footer-bg: #0b1f3a;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background:#1F2937 ;  
    color:white;
    overflow-x: hidden;
}

/* Navbar Redesign */
.bank-navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 5%;
    background:darkblue;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index:200;
    height:50px;
}

.bank-logo {
    font-size:30px;
    font-weight: 8900;
    color:gold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bank-nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    color:white;
}

.nav-item {
    text-decoration: none;
    color:white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item:hover {
    color:#00c3ff;
}

/* HOVER UNDERLINE ANIMATION */

.nav-item:after{

content:"";
position:absolute;
left:0;
bottom:-5px;

width:0%;
height:2px;

background:gold;
transition:0.5s;

}

.nav-item:hover::after{

width:100%;


}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.circle-menu {
    width: 40px;
    height: 40px;
    background:gold;
    color:navy;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.circle-menu:hover { transform: rotate(360deg); }

/* Accessibility Drawer */

.acc-drawer {
    position: fixed;
    right: -300px;
    top:100px;
    width: 150px;
    background:linear-gradient(blue,skyblue,lightblue,darkblue);
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
    border-radius: 60px 0 60px 0px;
}

.acc-drawer.active { right:-10px; }

.acc-drawer button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background:whitesmoke;
    border-radius: 28px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
/*login box*/

.login-btn{

background:gold;

border:#0b1f3a;

padding:8px 20px;

border-radius:6px;

font-weight:bold;

cursor:pointer;

}
/*vedio---------*/

/* Hero Section */
/* HERO SECTION CONTAINER */

.hero {
    height:80vh;
    position:relative;
    margin-top:20px;
    margin-right: 20px;
    margin-left:20px;
    margin-bottom:5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 60px;
}


.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
    filter: brightness(1.2) contrast(1.1);
}

.hero-overlay {
    position: absolute;
    inset: 0;
    
    z-index: 2;
}


/* HERO CONTENT */

.hero-content{
    position: relative;
    z-index: 3;
    color: white;
    max-width: 500px;

}


/* HERO TITLE */

.hero-content h1{
    font-size: 5px;
    font-weight:5px;
    line-height: 1.1;
    margin-bottom: 25px;
}


/* BUTTON */

.hero-btn{
    background: white;
    color: black;
    border: none;
    padding: 12px 26px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover{
    background:red;
}

.hero-text {
    z-index: 1;
    color:yellow;

}

.hero-text h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    font-size:50px;
}

.hero-text h1 span { color:lightskyblue; }

.cta-main {
    padding: 15px 40px;
    background:gold;
    border: none;
    border-color: #12396b;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}

.cta-main:hover {
    background: #b5942e;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.hero::after{
    content:"flex";
    position:absolute;
    inset:0;
    background: radial-gradient(circle at center, rgba(255,255,255,0.15), transparent 70%);
}




.digital-showcase {
    padding: 60px 5%;
    background-color:#1F2937;
    text-align: center;
    
}

.showcase-header h1 {
    font-size: 46px;
    color:white;
    margin-top: auto;
}

.showcase-header h1 span {
    color:greenyellow;
}

.showcase-header p {
    color:wheat;
    margin-top: 20px;
}

.showcase-header a {
    color:gold;
    text-decoration: none;
    font-weight: bold;
}

.showcase-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.side-features {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size:20px;
    color:white;
}

.left .feature-item { flex-direction: row; text-align: left; }
.right .feature-item { flex-direction: row-reverse; text-align: right; }

.icon-circle {
    width:50px;
    height:50px;
    background:lightseagreen;
    border-radius:50%;
    display: flex;
    align-items:center;
    justify-content: center;
    color:red;
    font-size: 20px;
}
/* Phone and Floating Cards */
.phone-display {
    position: relative;
    flex: 1.5;
    display: flex;
    justify-content: center;
}

.main-phone {
    width:460px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/*3 boxes*/



/* FEATURES */

.features{

display:flex;

justify-content:center;

gap:50px;
margin-top:40px;

margin-top: 20px;
margin-bottom:20px;

}

.feature-card{

background:lightskyblue;

padding:30px;

width:250px;

border-radius:12px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,0.4);

transition:0.3s;

}

.feature-card:hover{

transform:translateY(-8px);

}

.feature-card h3{

color:black;

}
/*box */

.impact-banner {
    background:url("index1.png");

    background-size: cover;
    background-position: center;

    color:gold;
    padding:80px 40px;
    border-radius:70px;
    margin: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.content-wrapper {
    max-width: 1200px;
    margin: auto;
    
}

.text-section {
    max-width:500px;
    color:gold;

}

.main-title {
    font-size:8px;
    font-style:bold;
    font-weight:100px;
    margin-bottom:1px;
    margin-top: auto;
    color:darkblue;
    font-size:50px;

}

.subtitle {
    font-size:20px ;
    margin-bottom: 30px;
    color:
}




/* Stats */
.stats-container {
    display: flex;
    gap:7px;
    margin-bottom: 40px;
    margin-left:10px ;
    width: fit-content;
}

.stat-card {
    background:#0b1f3a;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    border-radius:40px;
    flex: 1;
}

.stat-card h2 {
    font-size: 1.8rem;
}

.stat-card p {
    font-size: 0.9rem;
}

/* Button */
.know-more-btn {
    background:#0b1f3a;
    color:gold;
    border:none;
    padding: 12px 35px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive */
@media (max-width:768px){
    .stats-container{
        flex-direction: column;
    }
}



/* Footer (Axis/Jio Inspired) */
.main-footer {
    background: var(--footer-bg);
    color: #cbd5e1;
    padding: 60px 5% 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.footer-col h4 {
    color: white;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover { color: var(--secondary); padding-left: 5px; }

.social-links {
    font-size: 24px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.app-badges img {
    height: 40px;
    margin-bottom: 10px;
    display: block;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
}

/*login page css*/


/* LOGIN MODAL BACKGROUND */




/* LOGIN BOX */

.login-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff; /* Matches your glassmorphism text color */
}

.signup-link a {
    color: #ffcc00; /* Gold color to match your buttons */
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* CLOSE BUTTON */

.close{
    
    position:absolute;
    top:10px;
    right:15px;
    font-size:20px;
    cursor:pointer;
    color:darkgray;
}

.h{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size:35px;
    color: black;
    margin-bottom: auto;

}

/* SUB TEXT */

.sub{
    font-size:14px;
    color:darkslategray;
    margin-top: auto;
    margin-bottom:20px;
}


/* CUSTOMER ADMIN BUTTONS */

.login-type{
    display:flex;
    justify-content:center;
    gap:1px;
    margin-bottom:20px;
}

.login-type button{
    padding:8px 20px;
    border:none;
    background:goldenrod;
    color:black;
    border-radius:40px;
    font-weight: bold;
    cursor:pointer;
    font-size:20px;
}

/* GLASS LOGIN BOX */

.login-box{
    width:380px;
    padding:35px;
    border-radius:15px;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.3);

    color:white;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

/* FORM */

form{
    text-align:left;
}

form label{
    font-size:16px;
    font-weight:bold;
    color:black;
}


form input{
    width:94%;
    padding:10px;
    margin:8px 0 15px;
    border:1px solid gray;
    border-radius:5px;
}


/* CAPTCHA */

.captcha-box{
    display:flex;
    align-items:center;
    gap:14px;
}

.captcha-box span{
    background:#ae285d;
    padding:8px 8px;
    font-weight:bold;
    letter-spacing:4px;
    margin-right: 0%;
}
.captcha-box button{
box-sizing: border-box;
padding:0;
justify-items: left;
border:none;
background:white;
color:gold;
cursor:pointer;
border-radius:4px;
margin-trim:left;

}

/* LOGIN BUTTON */

.login-submit{
    width:100%;
    padding:13px;
    background:goldenrod;
    color:black;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}
.forgotpin{
    color:#12396b;
    font-style: italic;
    font-size: small;
    margin-top:0px;
    margin-bottom:2px ;
}

.login-submit:hover{
    background:gold;
    color:#1e1e1e;
}
 

/* ============================= */
/* NET BANKING SERVICES SECTION */
/* ============================= */

.netbanking-services{

background:#f5f6f8;
padding:70px 5%;

}


.services-title{

text-align:center;
font-size:36px;
margin-bottom:50px;
color:#333;

}


.services-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;

}


/* CARD */

.service-card{

background:white;
border-radius:20px;
overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,0.15);

transition:0.4s;

}

.service-card:hover{

transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.25);

}


/* ORANGE HEADER */

.service-header{

background:linear-gradient(135deg,#ff7a18,#ff5100);

color:white;
font-size:22px;
font-weight:bold;

padding:20px;

}


/* BODY */

.service-body{

padding:25px;

}


/* TAG */

.tag{

background:#e6f5ea;
color:#1b7f3a;

padding:4px 10px;
font-size:12px;

border-radius:5px;

display:inline-block;
margin-bottom:10px;

}


/* DESCRIPTION */

.service-desc{

font-weight:bold;
margin-bottom:15px;

}


/* LIST */

.service-body ul{

padding-left:18px;
margin-bottom:20px;

}

.service-body ul li{

margin-bottom:8px;
font-size:14px;

}


/* LINK */

.service-link{

text-decoration:none;

color:#ff5100;

font-weight:bold;
font-size:13px;

}

.service-link:hover{

text-decoration:underline;

}

/*faq section */

/* FAQ SECTION */

.faq-section{
width:85%;
margin:60px auto;
}

.faq-heading{
text-align:center;
font-size:28px;
color:#f3ecec;
margin-bottom:30px;
font-weight:600;

}

.faq-box{
background:white;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,0.1);
overflow:hidden;
}

.faq-item{
border-bottom:1px solid #e5e5e5;
}

.faq-question{
width:100%;
background:white;
border:none;
padding:20px 25px;
font-size:18px;
display:flex;
justify-content:space-between;
align-items:center;
cursor:pointer;
font-weight:500;
transition:0.3s;
}

.faq-question:hover{
background:#f7f7f7;
}

.icon{
font-size:20px;
color:#ff6b00;
transition:0.3s;
}

.faq-answer{
max-height:0;
overflow:hidden;
padding:0 25px;
color:#555;
line-height:1.6;
transition:max-height 0.4s ease;
background:#fafafa;
}

.faq-answer p{
margin:15px 0;
}

.faq-item.active .faq-answer{
padding:15px 25px;
}
/* products sections */

.products-section {
    padding: 50px 10%;
    background-color:lightskyblue;
    font-family: Arial, sans-serif;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0f0f0;
    display: inline-block;
    padding-bottom: 5px;
}

/* .products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
} */
.products-container {
    display: flex;
   
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    
    /* ADD: ensure the container itself doesn't overflow horizontally */
    max-width: 100%;
    margin: 0 auto;
    
    /* OPTIONAL: add horizontal scrolling if the screen gets too small */
    /* overflow-x: auto; */
}

.product-card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-size: 18px;
    color: #444;
    margin: 10px 0;
}

.subtitle {
    font-size: 11px;
    color: #888;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0 -20px -20px -20px; /* Aligns background to card edges */
    padding: 15px 20px;
}

.rate {
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

.arrow-btn {
    text-decoration: none;
    color: #d35400; /* Orange color from screenshot */
    font-size: 20px;
    font-weight: bold;
}